.item{
min-height: 426px;
width: calc((100%-3)/4);
padding: 0;
margin: 0;
padding-bottom: 31px;
}

.item_photo{
  border-radius: 14px;
}

.item_mainInfo{
  composes: ManropeFontMiddleMedium from '../../fonts.css';
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin-top: 14px;
}

.item_mainInfoWrap{
  display: flex;
  align-items: center;
}

.margin{
  margin-right: 3px;
}

.item_additInfoWrap {
  margin-top: 8px;
}

.item_listCharacteristics{
  composes: ManropeFontExtraSmallRegular from '../../fonts.css';
  line-height: 1.5;
  color: var(--sub-black-color);
  list-style: none;

  padding: 0;
  display: flex;
  align-items: center;
}

.listCharacteristicsItem{
  display: inline-flex;
  align-items: center;

  text-decoration: none;
}

.listCharacteristicsItem::after
{
  content: "";
  display: block;
  width: 1px;
  height: 18px;
  margin-left: 6px;

  background-color: var(--slesh-black-color);
}

.listCharacteristicsItem:not(:first-child) {
  margin-left: 6px;
}

.listCharacteristicsItem:last-child::after {
	display: none;
}

.button_wrap{
  margin-top: 28px;
}

.button_learnMore{
  composes: buttonLearnMore from '../../global.css';
  composes: ManropeFontSmallSemiBold from '../../fonts.css';
  color: var(--white-color);
  border: none;
}

.button_learnMore:hover{
  background-color: var(--hover-blue-color);
}

.item_wrapPhoto{
  position: relative;
}

.fav_btn{
  background-color: transparent;
  border: 0;
  outline: 0;
  fill:transparent;
  stroke: var(--white-color);
  stroke-width: 2;

  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  padding: 0;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.infav_btn{
  fill:var(--main-blue-color);
  stroke: var(--main-blue-color);
}


