.car_list {
  display: grid;
  grid-template-columns: none;
  grid-template-columns: repeat(minmax(274px, 1fr));
  grid-gap: 29px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}