.item{
  width: 541px;
  padding: 40px;
  padding-top: 26px;
  margin: 0;

  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

  .item::-webkit-scrollbar {
    display: none;
  }


  .item_photo{
    border-radius: 14px;
  }

  .item_mainInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    composes: ManropeFontMiddleBigMedium  from '../../fonts.css';
    line-height: 1.33;
    height: 24px;
    margin-top: 14px;
  }

  .item_mainInfoWrap{
    display: flex;
    align-items: center;
  }


  .margin{
    margin-right: 3px;
  }

  .item_model{
    color: var(--main-blue-color);
  }

  .item_additInfoWrap {
    margin-top: 8px;
  }

  .item_listCharacteristics{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    composes: ManropeFontExtraSmallRegular from '../../fonts.css';
    line-height: 1.5;
    margin: 0;
    color: var(--sub-black-color);
  }

  .listCharacteristicsItem{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
  }

  .listCharacteristicsItem::after
  {
    content: "";
    display: block;
    width: 1px;
    height: 18px;
    margin-left: 6px;
    background-color: var(--slesh-black-color);
  }


  .listCharacteristicsItem:not(:first-child) {
    margin-left: 6px;
  }

  .listCharacteristicsItem:last-child::after {
    display: none;
  }

  .item_description {
    margin: 0;
    margin-top: 14px;
    composes: ManropeFontSmallRegular from '../../fonts.css';
    line-height: 1.43;
  }

  .item_functionality{
    margin: 0;
    margin-top: 24px;
    composes: ManropeFontSmallMedium from '../../fonts.css';
    line-height: 1.43;
  }

  .item_rental{
    margin: 0;
    margin-top: 24px;
    composes: ManropeFontSmallMedium from '../../fonts.css';
    line-height: 1.43;
  }

  .item_rentalList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    composes: MontsserratFontExtraSmallRegular from '../../fonts.css';
    line-height: 1.5;
  }

  .item_rentalItem{
    height: 32px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 8px;
    background-color: #F9F9F9;
    border-radius: 35px;
  }

  .item_rentalItem:not(:last-child){
  margin-right: 8px;
  }

  .item_rentalItemSpan{
    display: inline;
    color: var(--main-blue-color);
  }

  .button_wrap{
    margin-top: 16px;
  }

  .button_rentalCar
  {

    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    composes: buttonRentalCar from '../../global.css';
    composes: ManropeFontSmallSemiBold from '../../fonts.css';
    color: var(--white-color);
    border: none;
  }




